
<div class="container bg-dark"style="margin-top: 10%">


    <h1 style="color:whitesmoke; position: relative;">Best quotes of all time</h1>
  
    <div class="card-columns">
  
      <div class="card" style="border: none;">
        <img class="card-img-top img-fluid" src="http://localhost//doctor strange.jpg" Card image cap>
        <div class="card-body bg-dark" style="color: white;">
          <h4 class="card-title">'Doctor Strange in the Multiverse of Madness' (2022)</h4>
          <p class="card-text">“Trust Yourself, Trust Your Power – That’s How You Stop It.”</p>
        </div>
      </div>
  
  
      <div class="card p-3 card-outline-primary" style="border: none;">
        <blockquote class="card-block card-blockquote">
          <footer>
            <small class="text-muted">
              May the Force be with you.” - Star Wars,
          </small>
          </footer>
        </blockquote>
      </div>
  
  
      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h4 class="card-title">“I'll be back.”</h4>
          <p class="card-text">-The Terminator</p>
          <img class="card-img img-fluid" src="http://localhost//arnold.jpg" alt="Card image">
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
  
  
      <div class="card " style="background-color: #979595; border-color: #f4efef;">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="card-blockquote">
            You're gonna need a bigger boat." — "Jaws," 
            <footer> — "Jaws," <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
  
  
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">IAM IRONMAN</li>
          <li class="list-group-item">Wonder Women</li>
          <li class="list-group-item">Taylor Swift</li>
        </ul>
      </div>
  
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"> </h4>
          <p class="card-text">You Wanna Know How I Got These Scars?-JOKER</p>
        </div>
        <img class="card-img-bottom img-fluid" src="http://localhost//JOKER.jpg" alt="Card image cap" >
      </div>
  
  
      <div class="card card-inverse">
        
          <img class="card-img img-fluid" src="http://localhost//love3000.jpg" alt="Card image">
  
          <div class="card-img-overlay">
            <h4 class="card-title">“I love you 3000.”- Tony Stark</h4>
          </div>
      
      </div>
  
      <div class="card card-inverse" style="background-color: #c2aeae; border-color: #f4efef;">
        <div class="card-body">
          <h3 class="card-title">Listen, Rose. ...</h3>
          <p class="card-text">-jack(titanic)</p>
          <img class="card-img img-fluid" src="http://localhost//titanic.jpg" alt="Card image">
        </div>
      </div>
  
  
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
    
          </ul>
        </div>
  
  
        <div class="card-body">
  
          <div class="tab-content">
            <div class="tab-pane active" id="tab1" role="tabpanel">
              <h4 class="card-title">SPIDERMAN <span class="badge badge-default">1</span></h4>
              <p>“With great power comes great responsibility.”</p>
            </div>
            
          </div>
  
        </div>
      </div>
  
  
      <div class="card card-inverse card-primary p-3 text-center">
        <blockquote class="card-blockquote">
          .card-blockquote
          <footer>
            <small>
          leonardo dicaprio said once <cite title="Source Title">“You don't choose who you fall in love with, do you?</cite>
          </small>
          <img class="card-img img-fluid" src="http://localhost//leonardo dicaprio.jpg" alt="Card image">
          </footer>
        </blockquote>
      </div>
  
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-title">THE ROCK</h4>
          <p class="card-text">“There will always be rocks in the road ahead of us.“</p>
        </div>
      </div>
  
      <div class="card">
        <img class="card-img img-fluid" src="http://localhost//rock.jpg" alt="Card image">
      </div>
  
      <div class="card p-3 text-right">
        <blockquote class="card-blockquote">
          Rock is a great master of life
        </blockquote>
      </div>
  
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Thanos</h4>
          <p class="card-text"> "You Should Have Gone For The Head."</p>
          <img class="card-img img-fluid" src="http://localhost//thanos.jpg" alt="Card image">
        </div>
      </div>
    </div>
  
  
   </div>

  
  
  