<div class="rform">
   <h1 style="color: white;margin-top: 30px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"> Post your Reviews</h1>
    <form  [formGroup]="reviewForm"  (submit)="saveReview(prod)">
        <div class="form-row">
            <div class="form-group col-md-6">

         <!-----------validation for name------------------>     

              <input class="form-control" id="inputEmail4" placeholder="Name" formControlName="name">
              <div *ngIf='reviewForm.controls.name.hasError("required")' class="message">
                Should be filled</div>
              <div *ngIf='reviewForm.controls.name.hasError("minlength")' class="message">
                    Atleast four Characters long</div>
            </div>
         </div>

<!----------------validation for email------------------------------------->
            <div class="form-row">
                <div class="form-group col-md-6">
                  <input formControlName="email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                  <div *ngIf='reviewForm.controls.email.hasError("required")' class="message">
                    Should be filled</div>
                  <div *ngIf='reviewForm.controls.email.hasError("pattern")' class="message">
                        Should be in email format</div>
                </div>
                </div>
<!----------------validation for message------------------------------------>


<div class="form-row">
    <div class="form-group col-md-6">
    <!--   <input class="form-control" id="inputEmail4" type="text" placeholder="Message" formControlName="message"> -->
      <textarea class="form-control" id="inputEmail4" type="text" placeholder="Message" formControlName="message" id="w3review" name="w3review" rows="4" cols="50">
       
        </textarea>
      <div *ngIf='reviewForm.controls.message.hasError("required")' class="message">
        Should be filled</div>
<div *ngIf='reviewForm.controls.message.hasError("minlength")' class="message">
          Atleast 4 characters long</div>
    </div>

    </div>

    <!------------------button enable when all fields are valid -->
    <button type="submit"  class="btn btn-primary" [disabled]="!reviewForm.valid" style="margin-bottom: 40px;">
        Post Review</button>


</form>
</div>
